
# The internal proxy route (leave as /api for client components)
NEXT_PUBLIC_INTERNAL_API_URL=/api

# The actual destination of the backend (Render or Localhost)
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
